<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myVehicle" class="com.spring.ApplicationContext.Xml.Bike"/>
    <bean id="myVehicle2" class="com.spring.ApplicationContext.Xml.Car"/>

</beans>